# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# debug files
cmd/demo/debug
**/debug

# config file is ignored to ensure sensitive information is kept out of git
cmd/demo/config.json

vendor/

